.diaryContainer{
    display: flex;;
}

.headingContainer{
    margin-left: 80px;
    margin-top: 60px;
    margin-right:150px;
}

.radioButtonQuestions{ 
    margin:65px;
}

.separateLine{
    width: 1300px;
    border: 1px solid #E3E3E3;
    transform: rotate(90deg);
}

.great{
     font-family: 'Jost';
     font-style: normal;
     font-weight: 700;
     font-size: 44px;
     line-height: 64px;
     color: #383838;
}

.hardFeeling{
     width: 500px;
     margin-top: 60px;
     margin-left: 30px;
     font-family: 'Jost';
     font-style: normal;
     font-weight: 400;
     font-size: 34px;
     line-height: 49px;
     color: #383838;
}

.finishWriting{
      display:flex;
      margin-top: 250px;
      font-family: 'Jost';
      font-style: normal;
      font-weight: 400;
      font-size: 34px;
      line-height: 49px;
      color: var(--underline-color);
}

.one{
    display: contents;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 49px;
    color: var(--underline-color);
}

.oneContainer{
    display:flex;
    align-items:baseline;
    margin-bottom:40px;
}

.bigFeelings{
    width: 495px;
    margin-left: 20px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 42px;     
    color: #383838;
 }

  .contentFeelings{
    width: 620px;
    margin-top: 40px; 
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #383838;
  }

  .secondContainer{
      display: flex;
  }

  .pain{
     width: 621px;
     margin-left: 15px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 42px;
    color: #383838;
  }

.two{
    display:flex;
   font-family: 'Jost';
   font-style: normal;
   font-weight: 700;
   font-size: 34px;
   line-height: 49px;
   color: var(--underline-color);
 }

 .checkboxes{
     display:flex;
     margin-left:60px;
     margin-top:30px;
 }

 .row{
     display:grid;
     font-family: 'Jost';
     font-style: normal;
     font-weight: 400;
     font-size: 29px;
     line-height: 42px;
     color: #383838;
     margin-right:60px;
 }

 .rowTwo{
    display:grid;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 42px;
   color: #383838;
 }

 .third{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 49px;
    color: var(--underline-color);
 }

 .torso{
    width: 700px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 42px;
    color: #383838;
 }

 .thirdContainer{
     display: flex;
 }
 