.diaryPage{
    // display: flex;
}

.great{
     font-family: 'Jost';
     font-style: normal;
     font-weight: 700;
     font-size: 44px;
     line-height: 64px;
     color: #383838;
}

.hardFeeling{
     width: 500px;
     margin-top: 60px;
     margin-left: 30px;
     font-family: 'Jost';
     font-style: normal;
     font-weight: 400;
     font-size: 34px;
     line-height: 49px;
     color: #383838;
}

.finishWriting{
      display:flex;
      margin-top: 250px;
      font-family: 'Jost';
      font-style: normal;
      font-weight: 400;
      font-size: 34px;
      line-height: 49px;
      color: var(--underline-color);
}

.separateLine{
      width: 1300px;
      border: 1px solid #E3E3E3;
      transform: rotate(90deg);
      display:table-cell;
}

.one{
    display: contents;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 49px;
    color: var(--underline-color);
}

.headingContainer{
    margin-left: 80px;
    margin-top: 60px;
    // display: flex;
    // align-items: center;

    flex: 1;
}

.oneContainer{
    // display:flex;
}

.diaryContainer{
// flex:1;
}

.questionsContainer{
    // display: flex;
    // flex: 1;
}

.contentContainer {
    display: flex;
    // flex-direction: row;
  }

  .radioButtonQuestions{
      flex:1;
  }

  .bigFeelings{
    width: 490px;
    margin-left: 70px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 42px;     
    color: #383838;
  }

  .contentFeelings{
    width: 620px;
    height: 142px;
    margin-left: 60px;
    margin-top: 40px; 
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #383838;
  }