.great{
     height: 64px;
     margin-left: 80px;
     margin-top: 60px;
     font-family: 'Jost';
     font-style: normal;
     font-weight: 700;
     font-size: 44px;
     line-height: 64px;
     color: #383838;
}

.hardFeeling{
     width: 516px;
     margin-top: 60px;
     font-family: 'Jost';
     font-style: normal;
     font-weight: 400;
     font-size: 34px;
     line-height: 49px;
     color: #383838;
}

.finishWriting{
      display:flex;
      margin-top: 250px;
      font-family: 'Jost';
      font-style: normal;
      font-weight: 400;
      font-size: 34px;
      line-height: 49px;
      color: var(--underline-color);
}

.separateLine{
    width: 2650px;
      border: 1px solid #E3E3E3;
      transform: rotate(90deg);
}

.one{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 49px;
    color: var(--underline-color);
}

.headingContainer{
    display:flex;
    margin-left: 80px;
    margin-top: 60px;
}

.oneContainer{
    // display:flex;
}
