body, html  {
  height: 100%;
  overflow: hidden;
}
  
.homePage {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    height: 1024px;
    left: 0px;
    top: 0px;
    background: linear-gradient(116.82deg, rgba(233, 101, 255, 0.5) 0%, rgba(96, 206, 206, 0.5) 100%);
  }

.container {
    display:flex;
    align-items: baseline;
    flex-direction:column;
    width: 807px;
    height: 693px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.nameInputLabel{
    font-size: 54px;
    line-height: 78px;
    color: #000000;
}

.nameInputContainer{
    margin-top:100px;
    margin-left:100px;  
    width: 589px;
    height: 78px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.favoriteColor{
    width: 670px;
    font-size: 54px;
    line-height: 78px;
}

.nameInput{
   width: 304px;
   font-family: 'Jost';
   font-weight: 400;
   font-size: 54px;
   line-height: 78px;
   color: #000000;
   border: none;
}

.separateLine{
  width: 589px;
  height: 0px;
  border: 1px solid #4E4E4E;
  transform: rotate(180deg);
}

.colorInputContainer {
   display:flex;
   align-items:center;
   margin-top:90px;
}

.colorText{
  width:209px;
  height:78px;
  margin-left:120px;
  font-size:54px;
  line-height:78px;
  border:none;
  // pointer-events: none;
}

.separateLineTwo{
   width: 520px;
   height: 0px;
   transform:translateX(-105px);
   margin-top: 30px;
   border: 1px solid #4E4E4E;
}

.finish{
    margin-top:400px;
    margin-left:270px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    color: #368BE4;
}

.sketch{
  margin-top:20px;
  width: 300px; 
  max-width: 100%;
}

.logo{
    width: 200.3px;
    height: 28.8px;
}

.logoContainer{
  display: flex;
  margin-top:80px;
  margin-bottom:30px;
}

.colorPreviewContainer{
  margin-left:110px;
  height: 52px;
  width: 52px;
  border-radius: 8px;
  display: flex;
}


.selectedColorBox {
    width: 52px;
    height: 52px;
    border-radius: 8px;
}

.favoriteColor span:not(:last-child) {
  margin-right: 15px;
}

.colorPickerContainer{
  display: flex;
  align-items: center;

}

.colorBox{
  width: 52px;
  height: 52px;
  margin-left: 20px; /* Add this line to move the color box closer to the input */
  margin-top: -20px; 
}