body, html  {
  height: 100%;
  overflow: hidden;
}
  
.homePage {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    width: 1890px;
    height: 1024px;
    left: 0px;
    top: 0px;
    background: linear-gradient(116.82deg, rgba(233, 101, 255, 0.5) 0%, rgba(96, 206, 206, 0.5) 100%);
  }

.container {
    display:flex;
    align-items: baseline;
    flex-direction:column;
    width: 807px;
    height: 693px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.nameInputLabel{
  font-size: 54px;
  line-height: 78px;
  color: #000000;
}

.nameInputContainer{
  margin-top:100px;
  margin-left:100px;  
  width: 589px;
  height: 78px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.favoriteColor{
  width: 670px;
  height: 78px;
  font-size: 54px;
  line-height: 78px;
}

.nameInput{
   width: 304px;
   font-family: 'Jost';
   font-weight: 400;
   font-size: 54px;
   line-height: 78px;
   color: #000000;
   border: none;
}

.separateLine{
  width: 589px;
  height: 0px;
  border: 1px solid #4E4E4E;
  transform: rotate(180deg);
}

.colorInputContainer {
  display:flex;
  margin-top:200px;
}

.colorText{
  width:209px;
  height:78px;
  margin-left:120px;
  font-size:54px;
  line-height:78px;
  border:none;
}

.separateLineTwo{
   width: 570px;
   height: 0px;
   margin-left: 30px;
   margin-top: 30px;
   border: 1px solid #4E4E4E;
}

.finish{
     width:109px;
     height:58px;
     margin-top:300px;
     font-family: 'Jost';
     font-style: normal;
     font-weight: 700;
     font-size: 40px;
     line-height: 58px;
     color: #368BE4;
}

.sketch{
  top:470px;
  left:600px;
}

.logo{
    width: 200.3px;
    height: 28.8px;
}

.logoContainer{
  display: flex;
  margin-top:40px;
  margin-bottom:70px;
}

