body, html {
  overflow: hidden;
}

.homePage {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:800px;
  background: linear-gradient(116.82deg, rgba(233, 101, 255, 0.5) 0%, rgba(96, 206, 206, 0.5) 100%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 780px;
  height: 550px;
  margin: auto;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.nameInputLabel {
  display: flex;
  align-items: flex-end;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.3;
  color: #000000; 
}

.nameInputLabel::after {
  content: '';
  flex-grow: 1;
  height: 1px;
  background-color: #4E4E4E;
  transform: scaleX(1);
  transform-origin: left center;
}

.nameInputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nameInput {
  flex: 1;
  text-align: center;
  font-family: 'Jost';
  font-style: italic;
  font-weight: 400;
  font-size: 3rem;
  color: #000000;
  border: none;
  background-color: transparent;
  margin-bottom: 0;
  padding-left: 20px;
}

.nameUnderline {
  height: 1px;
  background-color: #4E4E4E;
}

.colorContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center; 
}

.colorSection{
  text-align: center; 
}

.colorUnderline {
  height: 0px;
  border: 1px solid #4E4E4E;
  transform: rotate(180deg);
}

.colorBoxWrapper {
  display: flex;
  align-items: center;
  width: 52px;
  height: 52px;
}

.finish {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
  color: #368BE4;
}

.favoriteColor {
  font-size: 3rem;
  line-height: 1.3;
  margin-bottom: 10px;
}

.nameInputColor {
  color: #000000
}

.separateLine{
  height: 0px;
  border: 1px solid #4E4E4E;
  transform: rotate(180deg);
}

.colorInput {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 78px;
  width: 220px;
  height: 3rem;
  border:none;
  color: var(--underline-color);
  margin-top: 10px;
  padding: 0;
}

.separateLineTwo{
  height: 0px;
  margin-top: auto;
  border: 1px solid #4E4E4E;
}

.finishLineContainer{
  flex-grow: 1;
}

.logo{
  height: 28.8px;
}

.logoContainer{
  display: flex;
  justify-content: center;
  margin-bottom:30px;
  margin-top:30px;
  background-color: transparent; 
}

.colorPreviewContainer{
  height: 52px;
  border-radius: 8px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.selectedColorBox {
  height: 52px;
  border-radius: 8px;
}

.colorBoxContainer {
  display: flex;
  justify-content:space-evenly;
  margin-top:30px;
}

.favoriteColor span:not(:last-child) {
  margin-right: 15px;
}

.colorPickerContainer {
  display: flex;
  align-items: center;
  transform: translateY(0%);
  margin-left: 30px;
  border-bottom: 1px solid black;
}

.colorBox {
  height: 50px;
  border-radius: 8px;
  background-color: var(--underline-color);
  cursor: pointer;
}
  
.sketchContainer {
  opacity: 1;
  position: absolute;
  top: 390px;
  left: 200px;
  transition: opacity 0.2s ease-in-out;
  z-index: 2;
}

.sketchContainer.visible {
  opacity: 1;
}

.finishLineContainer {
  display: flex;
  justify-content: flex-end; 
}

.colorContainer{
  display: flex;
  align-items: center;
  justify-content: center; 
}

.nameUnderline {
  height: 1px;
  background-color: #4E4E4E;
}

.secondLine{
  border: 1px solid #4E4E4E;
  transform: rotate(180deg);
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  flex-grow: 1;
  height: 1px;
}

.colorUnderline{
  height: 0px;
  margin-left:20px;
  border: 1px solid #4E4E4E;
  transform: rotate(180deg);
}

.colorTextWrapper {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.colorBoxWrapper{
  display: inline-block;
  vertical-align: top;
  height: 52px;
}

.nameContainer{
  display:flex;
  align-items:center;
  justify-content: center;
}