.diaryButton {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: var(--underline-color);
  text-decoration: none; 
}
  
.diaryButtonContainer {
  box-sizing: border-box;
  border: 5px solid var(--underline-color);
  border-radius: 100px;
  width: 252px;
  height: 61px;
  margin-left: 30px;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.diaryButtonWrapper{
  display:flex;
}

.thirdStep {
  // width: 120px;
  height: 64px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 64px;
  color: #383838;
}
  
.feelBetter {
    // width: 558px;
    height: 35px;
    margin-left: 30px;
    margin-top: 30px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #383838;
}
  
.feelBetterText {
    margin-left: 30px;
    margin-bottom: 30px;
}
  
.diaryEntry {
  // width: 291px;
  height: 61px;
  margin-left: 30px;
  margin-top: 20px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: var(--underline-color);
  box-sizing: border-box;
  border: 5px solid var(--underline-color);
  border-radius: 100px;
}
  
.anxious {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #383838;
    margin-left: 30px;
    margin-bottom: 30px;
}
  
.anxiousContainer {
    margin-bottom: 30px;
}
  
.secondStepContainer {
    margin-top: 30px;
    margin-left: 10px;
}
  
.secondStepContainer.active {
    opacity: 1;
}
  
.diaryEntryContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
  