.secondStep {
    width: 121px;
    height: 64px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 64px;
    color: #383838;
  }
  
.wonderful {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #383838;
  margin-left: 30px;
  margin-bottom: 30px;
}
  
.buttonDiaryEntry {
    margin-left: 30px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    color: var(--underline-color);
}

.buttonDiaryEntryContainer {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 5px solid var(--underline-color);
    border-radius: 100px;
    width: fit-content; 
    height: 61px;
    margin-left: 30px;
    margin-top: 30px;
}

.thirdStep {
  width: 120px;
  height: 64px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 64px;
  color: #383838;
}

.todayGoals {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #383838;
  }

  .continuedDiary {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    color: var(--underline-color);
    box-sizing: border-box;
    border: 5px solid var(--underline-color);
    border-radius: 100px;
  }
  
.messageContainer {
    margin-bottom: 30px;
}